
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">GetYourTokens</h1>
            <p class="lead text-muted">
                Get your access tokens securely.
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Get started</a>
                <a href="#" class="btn btn-secondary my-2">How does it work?</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#for 0 10 1}}
                <div class="col">
                    {{> strategyCard }}
                </div>
            {{/for}}
        </div>
    </div>
</div>
