<div class="col-sm-8 col-md-7 py-4">
    <h4 class="text-white">About</h4>
    <p class="text-muted">
        GetYourTokens is a simple web ui that allows you to obtain your access tokens for your 3rd party OAuth
        configurations.
    </p>
</div>